.gallery {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    gap: 24px;

    margin-top: 24px;
    padding: 0 156px;
}

.gallery-item {
    width: 360px;
    height: 200px;
    overflow: hidden;
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
}

a:hover {
  cursor: url('../Vector.svg'), auto;
}

@media screen and (max-width: 612px) {
    .gallery {
        padding: 0;
    }
}